{% extends "layout.html" %}

{% block content %}
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <h3 style="display: inline">
                        Our goals:
                    </h3>
                    <h4>
                        Implement an Easy-to-Use Open Source software for CNV interpretation.
                        The software aggregates CNV knowledge from well-known data sources and new AI tools like X-CNV.
                        We implemented the solution in python3, focusing on reducing the use of third-party tools.
                        We tried to make the code as clean as possible and easy to maintain. Our work on the GUI draws
                        inspiration from existing tools (especially X-CNV).
                    </h4>
                </div>
            </div>
            <hr>
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <img alt="Datathon2022" src="../static/images/datathon_2022_groupe1.gif">
                </div>
            </div>
            <hr>
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <img alt="Datathon2022" src="../static/images/background-defi-1.jpg">
                </div>
            </div>
        </div>
        <!--end of col-->
    </div>
    <br>
</div>
{% endblock %}