{% extends "layout.html" %}

{% block content %}
<div class="container">
    <br>

    <div id="next1">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="Genomic reference" class="img-fluid rounded-start" src="../static/images/dna_lat.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Step 1/4</h5>
                        <p class="card-text">Select the genomic reference.</p>
                        <label for="refSelect">Choose a reference:</label>
                        <select class="form-select" id="refSelect" name="Reference">
                            <option selected="selected" value="hg19">hg19/GRCh37</option>
                            <option value="hg38">hg38/GRCh38</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-primary" onclick="showStep2()" style="width: 200px">Next</button>
        </div>
        <br>
    </div>

    <div id="next2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="Input data type" class="img-fluid rounded-start" src="../static/images/bed_or_list.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Step 2/4</h5>
                        <p class="card-text">Input data type selection.</p>
                        <label for="inputSelector">Choose an input type:</label>
                        <select class="form-select" id="inputSelector" name="Input Type">
                            <option value="coord">List of Genomic Coordinates</option>
                            <option value="bed">BED File</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-warning" onclick="backToStep1()" style="width: 200px">Back</button>
            <button class="btn btn-primary" onclick="showStep3()" style="width: 200px">Next</button>
        </div>
        <br>
    </div>

    <div id="next3_1">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="Coordinate List" class="img-fluid rounded-start" src="../static/images/list_lat.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Step 3/4</h5>
                        <p class="card-text">Paste coordinate list in the text area below.</p>
                        <div class="input-group">
                            <span class="input-group-text">With textarea</span>
                            <textarea aria-label="Genomic coordinates" class="form-control" id="txtCoords"
                                      placeholder="chr1:1000-2000:gain&#10;chr1:1000-2000:loss"
                                      style="min-height: 200px"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-warning" onclick="backToStep2()" style="width: 200px">Back</button>
            <button class="btn btn-primary" onclick="showStep4()" style="width: 200px">Next</button>
        </div>
        <br>
    </div>

    <div id="next3_2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="BED File" class="img-fluid rounded-start" src="../static/images/bed_lat.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Step 3/4</h5>
                        <p class="card-text">Upload a bed file.</p>
                        <form enctype="multipart/form-data" method="post" name="frmUp">
                            <div class="mb-3">
                                <label class="form-label" for="bedFile">BED</label>
                                <input class="form-control" id="bedFile" name="file" required type="file">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-warning" onclick="backToStep2()" style="width: 200px">Back</button>
            <button class="btn btn-primary" onclick="showStep4()" style="width: 200px">Next</button>
        </div>
        <br>
    </div>

    <div id="next4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="Loading" class="img-fluid rounded-start" src="../static/images/Loading.gif">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Step 4/4</h5>
                        <p class="card-text">Loading...</p>
                        Please wait until completion.
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div id="resDiv">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="table-responsive" id="resDivInner">
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <!--<button class="btn btn-danger" onclick="restartAnalysis()" style="width: 200px">Restart</button>-->
            <!--<button class="btn btn-success" onclick="saveResult()" style="width: 200px">SAVE</button>-->
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>

    let upload_type = '';
    let ref = '';

    window.addEventListener('load', function () {
        browser_check();
        document.getElementById('next1').style.display = 'block';
        document.getElementById('next2').style.display = 'none';
        document.getElementById('next3_1').style.display = 'none';
        document.getElementById('next3_2').style.display = 'none';
        document.getElementById('next4').style.display = 'none';
        document.getElementById('resDiv').style.display = 'none';
    })

    function browser_check() {
        let isFirefox = typeof InstallTrigger !== 'undefined';
        if (isFirefox) {
            alert("Sorry, This page won't work on Firefox. Please consider using another browser!");
        }
    }

    function backToStep1() {
        let el = document.getElementById('next2');
        el.style.display = 'none';
        el = document.getElementById('next1');
        el.style.display = 'block';
    }

    function backToStep2() {
        let el = document.getElementById('next3_1');
        el.style.display = 'none';
        el = document.getElementById('next3_2');
        el.style.display = 'none';
        el = document.getElementById('next2');
        el.style.display = 'block';
    }

    function showStep2() {
        let el = document.getElementById('next1');
        el.style.display = 'none';
        el = document.getElementById('next2');
        el.style.display = 'block';
        ref = document.getElementById('refSelect').value;
    }

    function showStep3() {
        let el = document.getElementById('next2');
        el.style.display = 'none';
        let dd_type = document.getElementById('inputSelector');
        if (dd_type.value === 'coord') {
            upload_type = 'coord';
            el = document.getElementById('next3_1');
            el.style.display = 'block';
            el = document.getElementById('next3_2');
            el.style.display = 'none';
        } else if (dd_type.value === 'bed') {
            upload_type = 'bed';
            el = document.getElementById('next3_2');
            el.style.display = 'block';
            el = document.getElementById('next3_1');
            el.style.display = 'none';
        } else {
            alert('Please select a valid input type before proceeding.');
        }
    }

    function showStep4() {
        let el = document.getElementById('next3_1');
        el.style.display = 'none';
        el = document.getElementById('next3_2');
        el.style.display = 'none';
        el = document.getElementById('next4');
        el.style.display = 'block';
        if (upload_type === 'coord') {
            let coords = document.getElementById('txtCoords');
            // Process data.
            text_submit(coords.value);
        } else if (upload_type === 'bed') {
            // Process file.
            fileSubmit();
        } else {
            alert("Something went wrong: bad input type!");
        }
    }

    function text_submit(txt) {
        let httpRequest = new XMLHttpRequest();
        httpRequest.open("POST", "/batch_text", true);
        httpRequest.responseType = 'json';
        httpRequest.onload = function () {
            if (httpRequest.status === 200) {
                // OK
                let el = document.getElementById('next4');
                el.style.display = 'none';
                reportResult(httpRequest.response);
            } else {
                alert('Something went wrong!');
            }
        };

        httpRequest.send(JSON.stringify({'ref': ref, 'lines': txt}));
    }

    function fileSubmit() {
        let formData = new FormData(document.forms.namedItem("frmUp"));

        let httpRequest = new XMLHttpRequest();
        httpRequest.open("POST", "/batch_file", true);
        httpRequest.responseType = 'json';
        httpRequest.onload = function () {
            if (httpRequest.status === 200) {
                // OK
                let el = document.getElementById('next4');
                el.style.display = 'none';
                reportResult(httpRequest.response);
            } else {
                alert('Something went wrong!');
            }
        };

        formData.append('ref', ref);
        httpRequest.send(formData);
    }

    function restartAnalysis() {
        location.reload();
    }

    function reportResult(annotations) {
        let el = document.getElementById('resDiv');
        el.style.display = 'block';

        let var_count = annotations['ucsc'].length
        let html_res = '<table class="table"><tr>' +
            '<th>CHR</th><th>START</th><th>END</th><th>LEN</th><th>TYPE</th><th>INTERPRETATION</th><th>UCSC_LINK</th>' +
            '<th>INTERSECTS_EXCLUDED_REGIONS</th><th>GENES_INTERSECTED_COUNT</th><th>OMIM_INTERSECTED_COUNT</th>' +
            '<th>DGV_GOLD_INTERSECT</th><th>XCNV</th>' +
            '</tr>';
        for (let i = 0; i < var_count; i++) {
            html_res += '<tr>'
            html_res += '<td>' + annotations['ucsc'][i]['base']['chr'] + '</td>'
            html_res += '<td>' + annotations['ucsc'][i]['base']['start'] + '</td>'
            html_res += '<td>' + annotations['ucsc'][i]['base']['end'] + '</td>'
            html_res += '<td>' + annotations['len'][i] + '</td>'
            html_res += '<td>' + annotations['type'][i] + '</td>'
            html_res += '<td>' + annotations['interpretation'][i] + '</td>'
            html_res += '<td><a href="' + annotations['ucsc'][i]['ucsc']['link'] + '">View</a></td>'
            html_res += '<td>' + annotations['exc'][i] + '</td>'
            html_res += '<td>' + annotations['go'][i] + '</td>'
            html_res += '<td>' + annotations['mo'][i] + '</td>'
            html_res += '<td>' + annotations['dgv'][i] + '</td>'
            html_res += '<td>' + annotations['xcnv'][i]['xcnv']['prediction'] + '</td>'
            html_res += '</tr>'
        }
        html_res += '</table>'

        el = document.getElementById('resDivInner');
        el.innerHTML = html_res;
    }

    /*
    function saveResult() {

    }
    */

</script>
{% endblock %}