{% extends "layout.html" %}

{% block content %}
<div onload="browser_check()">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10">
                <div class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="query_input" class="form-control form-control-lg form-control-borderless" type="search"
                                   placeholder="<ref>:<chr>:<start>-<stop>:<gain|loss>">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-primary" style="width: 150px" onclick="start_search()">Search</button>
                            <button class="btn btn-lg btn-danger" style="width: 150px" onclick="reset_search()">Reset</button>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <br/>
        <div id="res_card" class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10">
                <div class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto align-content-center">
                            <!--<img src="../static/images/RabbitAnimation.gif">-->
                            <div id="res_div"></hr><h3>Example:</h3><br><h4>hg19:chr2:1000000-2000000:gain</h4></div>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
    </div>

</div>
{% endblock %}


{% block script %}
<script>
    function browser_check() {
        let isFirefox = typeof InstallTrigger !== 'undefined';
        if (isFirefox) {
            alert("Sorry, This page won't work on Firefox. Please consider using another browser!");
        }
    }

    function show_load() {
        let res_div = document.getElementById('res_div');
        res_div.innerHTML = 'Loading...';
    }

    function start_search() {
        let str_query = document.getElementById('query_input').value;

        show_load();

        let httpRequest = new XMLHttpRequest();
        httpRequest.timeout = 120000;
        httpRequest.responseType = 'json';
        httpRequest.open('GET', '/search/' + str_query, true);
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                let status = httpRequest.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // OK
                    show_res(httpRequest.response);
                } else {
                    // ERROR
                    alert("Sorry, Something went wrong!");
                }
            }
        };
        httpRequest.send();
    }

    function show_res(annotations) {
        let res_div = document.getElementById('res_div');
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "<a href=" + annotations['ucsc_url'] + " target='_blank'>View on UCSC Browser</a>"
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "X-CNV score: " + annotations['xcnv_res'] + ' (' + annotations['xcnv_res_interpretation'] + ')'
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "CNV Length: " + annotations['cnv_len'] + 'bases'
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "CNV Type: " + annotations['cnv_type']
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "Overlaps with excluded regions: " + annotations['exc_overlaps']
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "Gene overlaps (any overlap): " + annotations['gene_overlap_count']
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "Morbid genes overlaps (any overlap): " + annotations['morbid_gene_overlap_count']
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "DGV gold overlaps (any overlap > 1% frequency): " + annotations['dgv_gold_cnv_overlap_count']

        res_div.innerHTML += "<br>"
        res_div.innerHTML += "Interpretation: " + annotations['synth_interpretation']
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "<br>"
        res_div.innerHTML += "*** The machine interpretation doesn't replace Human interpretation"
    }

    function reset_search() {
        document.getElementById('query_input').value = '';
        let res_div = document.getElementById('res_div');
        res_div.innerHTML = '</hr><h3>Example:</h3><br><h4>hg19:chr2:1000000-2000000:gain</h4>'
    }
</script>
{% endblock %}



