{% extends "layout.html" %}

{% block content %}
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="card">
                <img src="../static/images/xcnv_header.png" class="card-img-top" alt="X-CNV">
                <div class="card-body row no-gutters align-items-center">
                    <h3 style="display: inline">
                        This work draws a lot of inspiration from <a href="https://pubmed.ncbi.nlm.nih.gov/34407882/">X-CNV</a>
                        and his <a href="http://119.3.41.228/XCNV/index.php">web interface</a>.
                        Thanks to the X-CNV team for their great work! X-CNV repository can be found at <a
                            href="https://github.com/kbvstmd/XCNV">this link</a>
                    </h3>
                    <div class="card-footer" style="display: inline">
                        Zhang L, Shi J, Ouyang J, Zhang R, Tao Y, Yuan D, Lv C, Wang R, Ning B, Roberts R, Tong W,
                        Liu
                        Z, Shi T. X-CNV: genome-wide prediction of the pathogenicity of copy number variations.
                        Genome
                        Med. 2021 Aug 18;13(1):132. doi: 10.1186/s13073-021-00945-4. PMID: 34407882.
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <img src="../static/images/dgv_header.png" class="card-img-top" alt="X-CNV">
                <div class="card-body row no-gutters align-items-center">
                    <h3 style="display: inline">
                        <a href="http://dgv.tcag.ca/dgv/app/home">DGV</a>: A curated catalogue of human genomic
                        structural variation.
                    </h3>
                    <div class="card-footer" style="display: inline">
                        The Centre for Applied Genomics <br>
                        <a href="dgv-contact@sickkids.ca">dgv-contact@sickkids.ca</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--end of col-->
    </div>
    <br>
</div>
{% endblock %}
